backend/api/ClinicManager/.vs/ClinicManager.slnx/DesignTimeBuild/.dtbcache.v2
backend/api/ClinicManager/.vs/ClinicManager.slnx/FileContentIndex/294d3d96-f574-4e71-9eb2-2bd9cdf2377d.vsidx
backend/api/ClinicManager/.vs/ClinicManager.slnx/FileContentIndex/2a06962b-84cf-467e-b59b-1014f42bcb74.vsidx
backend/api/ClinicManager/.vs/ClinicManager.slnx/FileContentIndex/6f014df2-d6ce-4583-b5d7-6e17be06ed34.vsidx
backend/api/ClinicManager/.vs/ClinicManager.slnx/FileContentIndex/8f4b4401-b398-452d-95f7-d8ab36cbf0b2.vsidx
backend/api/ClinicManager/.vs/ClinicManager.slnx/FileContentIndex/dedb65f5-c2b3-41ad-b2ab-dc48feb505c8.vsidx
backend/api/ClinicManager/.vs/ClinicManager.slnx/v18/.futdcache.v2
backend/api/ClinicManager/.vs/ClinicManager.slnx/v18/.suo
backend/api/ClinicManager/.vs/ClinicManager.slnx/v18/DocumentLayout.backup.json
backend/api/ClinicManager/.vs/ClinicManager.slnx/v18/DocumentLayout.json
backend/api/ClinicManager/.vs/ProjectEvaluation/clinicmanager.metadata.v10.bin
backend/api/ClinicManager/.vs/ProjectEvaluation/clinicmanager.projects.v10.bin
backend/api/ClinicManager/.vs/ProjectEvaluation/clinicmanager.strings.v10.bin
backend/api/ClinicManager/.vs/ClinicManager.slnx/config/applicationhost.config
backend/api/ClinicManager/.vs/ClinicManager.slnx/FileContentIndex/0a0eb7be-32af-460b-a074-356c9acde615.vsidx
backend/api/ClinicManager/.vs/ClinicManager.slnx/FileContentIndex/106aa430-965e-4930-b4fb-b7a6748b3348.vsidx
backend/api/ClinicManager/.vs/ClinicManager.slnx/FileContentIndex/49e60ca1-ba8e-42ef-aafe-4731dfc6bf8f.vsidx
backend/api/ClinicManager/.vs/ClinicManager.slnx/FileContentIndex/bb80a73e-3452-4ab9-bd49-43c3020828fc.vsidx
backend/api/ClinicManager/.vs/ClinicManager.slnx/FileContentIndex/ffae4954-b592-424a-b46d-2273de3eabca.vsidx
backend/api/ClinicManager/.vs/ClinicManager/CopilotIndices/18.4.106.63888/CodeChunks.db
backend/api/ClinicManager/.vs/ClinicManager/CopilotIndices/18.4.106.63888/CodeChunks.db-shm
backend/api/ClinicManager/.vs/ClinicManager/CopilotIndices/18.4.106.63888/CodeChunks.db-wal
backend/api/ClinicManager/.vs/ClinicManager/CopilotIndices/18.4.106.63888/SemanticSymbols.db
backend/api/ClinicManager/.vs/ClinicManager/CopilotIndices/18.4.106.63888/SemanticSymbols.db-shm
backend/api/ClinicManager/.vs/ClinicManager/CopilotIndices/18.4.106.63888/SemanticSymbols.db-wal
backend/api/ClinicManager/.vs/ClinicManager.slnx/FileContentIndex/03419022-6f01-49b1-abfd-ef6452e35cfd.vsidx
backend/api/ClinicManager/.vs/ClinicManager.slnx/FileContentIndex/066a874e-fbbc-4430-b255-6ed241511e53.vsidx
backend/api/ClinicManager/.vs/ClinicManager.slnx/FileContentIndex/4193459c-47b6-4eff-a064-7b19fff30f32.vsidx
backend/api/ClinicManager/.vs/ClinicManager.slnx/FileContentIndex/92d71fdb-3a41-40a3-bb75-ad834a7dbaf6.vsidx
backend/api/ClinicManager/.vs/ClinicManager.slnx/FileContentIndex/a05bab2d-525c-4650-9c15-fd2e294a4f2c.vsidx
