backend/api/ClinicManager/.vs/ClinicManager.slnx/DesignTimeBuild/.dtbcache.v2
backend/api/ClinicManager/.vs/ClinicManager.slnx/FileContentIndex/294d3d96-f574-4e71-9eb2-2bd9cdf2377d.vsidx
backend/api/ClinicManager/.vs/ClinicManager.slnx/FileContentIndex/2a06962b-84cf-467e-b59b-1014f42bcb74.vsidx
backend/api/ClinicManager/.vs/ClinicManager.slnx/FileContentIndex/6f014df2-d6ce-4583-b5d7-6e17be06ed34.vsidx
backend/api/ClinicManager/.vs/ClinicManager.slnx/FileContentIndex/8f4b4401-b398-452d-95f7-d8ab36cbf0b2.vsidx
backend/api/ClinicManager/.vs/ClinicManager.slnx/FileContentIndex/dedb65f5-c2b3-41ad-b2ab-dc48feb505c8.vsidx
backend/api/ClinicManager/.vs/ClinicManager.slnx/v18/.futdcache.v2
backend/api/ClinicManager/.vs/ClinicManager.slnx/v18/.suo
backend/api/ClinicManager/.vs/ClinicManager.slnx/v18/DocumentLayout.backup.json
backend/api/ClinicManager/.vs/ClinicManager.slnx/v18/DocumentLayout.json
backend/api/ClinicManager/.vs/ProjectEvaluation/clinicmanager.metadata.v10.bin
backend/api/ClinicManager/.vs/ProjectEvaluation/clinicmanager.projects.v10.bin
backend/api/ClinicManager/.vs/ProjectEvaluation/clinicmanager.strings.v10.bin
